<!DOCTYPE html>
<html>
    <head>
        <title>Hello AccueilController!</title>
        <link rel="stylesheet" href="{{ asset('Css/style.css') }}" type="text/css"/>
    </head>
    <body>
        {% block body %}
        <a href="{{path('visiteur')}}">visiteur</a>
        {% endblock %}
    </body>
</html>